<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="text-center d-flex justify-content-center flex-wrap mt-3">
        <div *ngFor="let student of this.students" class="student mt-2 mb-2">
          <h5>
            {{student.title.rendered}}
          </h5>
          <a target="_blank" href="{{student.acf.facebook_url}}">
            <img class="rounded-circle" src="{{student.acf.picture_url}}" />
          </a>
          <br/>
          <a target="_blank" href="{{student.acf.facebook_url}}">
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
          </a>
          <a target="_blank" class="ml-1" href="mailto:{{student.acf.email}}">
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
          </a>
          <!--&nbsp;({{student.acf.from_country}})-->
        </div>
      </div>
    </div>
  </div>
</div>