<div class="container-home-label container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-md-7">
      <h1>Find friends. <small>Your mates are <br/>just around the corner.</small></h1>
    </div>
    <div class="col-lg-1"></div>
  </div>
</div>
<div class="container-home-search d-flex justify-content-center align-items-end">
  <form class="form-inline col-md-8">
    <div class="col-md-1"></div>
    <input type="text" class="col-md-8 form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="University">
    <button type="submit" class="col-md-2 btn btn-primary">Submit</button>
  </form>
</div>