<header>
    <nav class="navbar navbar-light bg-faded rounded navbar-toggleable-md ml-3 mr-3">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#containerNavbar" aria-controls="containerNavbar"
            aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" routerLink="/">MyFutureMates</a>

        <div class="collapse navbar-collapse" id="containerNavbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/uni">All Students</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">About</a>
                </li>
            </ul>
            <ul class="navbar-nav navbar-right">
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Login</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<router-outlet>
</router-outlet>

<footer class="footer">
    <div class="footer-inner container">
        <div class="row mt-1 justify-content-between">
            <div class="col-lg-5">
                <div class="row justify-content-center justify-content-lg-start">
                    <div class="social-icons">
                        <a class="ml-1 mr-1" routerLink="/uni">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                        <a class="ml-1 mr-1" routerLink="/uni">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a class="ml-1 mr-1" routerLink="/uni">
                            <i class="fa fa-google-plus" aria-hidden="true"></i>
                        </a>
                        <a class="ml-1 mr-1" routerLink="/uni">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                        <a class="ml-1 mr-1" routerLink="/uni">
                            <i class="fa fa-youtube-play" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 mt-3 mt-lg-0">
                <div class="row justify-content-center justify-content-lg-end">
                    <div class="bottom-menu text-center">
                        <a class="ml-2 mr-2" routerLink="/uni">All Students</a>
                        <a class="ml-2 mr-2" routerLink="/">Terms</a>
                        <a class="ml-2 mr-2" routerLink="/">Cookies</a>
                        <a class="ml-2 mr-2" routerLink="/">Contant</a>                        
                        <a class="ml-2 mr-2" routerLink="/">About</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>