<div *ngIf="!this.students" class="loaderWrap">
  <div class="loader"></div>
</div>
<pre></pre>
<div class="container">
  <div class="row">
    <div class="col-md"></div>
    <div class="col col-lg-3">
      <app-students-with-paging [uni]="this.slug" (loadStudents)="this.loadStudentsHandler($event)"></app-students-with-paging>
    </div>
    <div class="col-md"></div>
  </div>
  <div *ngIf="isUniAndStudentsFound()" class="row">
    <div class="col"></div>
    <div class="col text-center">
      <app-joinuni-modal [uni]="this.uni"></app-joinuni-modal>
    </div>
    <div class="col"></div>
  </div>
  <div class="row" *ngIf="isUniAndStudentsNotFound()" class="row">
    <div class="col"></div>
    <div class="col-lg-5 text-center">
      <pre></pre>
      <pre></pre>
      <pre></pre> No "{{this.slug}}" university found by given request.
      <br/> Please contact administrator: <a href="mailto:forthepost@gmail.com">forthepost@gmail.com</a>
    </div>
    <div class="col"></div>
  </div>