<pre></pre>
<div class="container" *ngIf="access_token">
  <div class="row">
    <div class="col"></div>
    <div class="col-3">
      <app-pagination [currentPage]="this.currentPage" [pages]="this.pages" (pageChange)="this.pageChangedHandler($event)"> </app-pagination>
      <hr/>
      <div class="text-center">
        <div *ngFor="let student of this.students">
          <a target="_blank" href="{{student.acf.facebook_url}}">{{student.title.rendered}}</a>&nbsp;({{student.acf.from_country}})
          <pre></pre>
        </div>
      </div>
      <hr/>      
      <app-pagination [currentPage]="this.currentPage" [pages]="this.pages" (pageChange)="this.pageChangedHandler($event)"> </app-pagination>
    </div>
    <div class="col"></div>
  </div>
</div>