/* You can add global styles to this file, and also import other style files */
a.borderless, div.borderless {
    border: 0 none; 
}

/*Loader styles. Check the link for more details: https://www.w3schools.com/howto/howto_css_loader.asp*/
.loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    display: flex;
    margin: 0 auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loaderWrap {
    position: fixed;
    width: 100%;
    height:80%;
    display: flex;
    align-items: center;
    top: 0;
}

/* Home Page Styles*/
.container-home-label{
    margin-top:5em;
}

.container-home-search{
    height:135px;
}

.ng2-auto-complete-wrapper{
    width:100%;
}

.ng2-auto-complete-wrapper input{
    width:100% !important;
}

.form-search, .find-friends-label{
    margin: 50px 15px 0 15px;
}

input[type="text"]:focus{
  border-color:grey;
}

/* Small devices (landscape phones, 576px and up). Details: https://v4-alpha.getbootstrap.com/layout/responsive-utilities/*/
@media (min-width: 576px) {
    .form-search, .find-friends-label{
        width:500px;        
    }
    
    .find-friends-label{
        margin:80px auto 0;
    }
    
    .form-search{
        margin:60px auto 0;
    }
    
    .ng2-auto-complete-wrapper{
        width:80% !important;
    }

    .ng2-auto-complete{
        cursor: pointer;        
    }

    .ng2-auto-complete > ul li.selected, .ng2-auto-complete > ul li:hover{
        background-color: #f4f4f4 !important;
    }    
}

/*Nav bar (menu)*/
.navbar{
    background-color: rgba(245, 245, 245, 0);
}

/*Sticky footer styles*/
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #404a63;  
  color: #FFFFFF;
  line-height: 2em;
}

/*Footer*/

.footer .label-top{
    font-size: 17px;    
}

.footer .social-icons{
    font-size: 1.5em;
}

.footer .footer-inner {
    margin: 1.7em auto;
}

.social-icons a, .bottom-menu a {
     text-transform: uppercase;
     color: #FFFFFF;
}

.social-icons a {
    text-decoration: none;
 }

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991px) {
    body {
    /* Margin bottom by footer height */
        margin-bottom: 150px;
    }
}

/*Extra small devices (portrait phones, less than 576px). Details: https://v4-alpha.getbootstrap.com/layout/overview/*/
@media (max-width: 575px) {
    .bottom-menu{
        width:60% !important;
    }

    body {
    /* Margin bottom by footer height */
        margin-bottom: 180px;
    }
}


